<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Root Menu: Kitchen Inventory -->
        <menuitem id="menu_inventory_monitoring_root" 
                  name="Kitchen Inventory" 
                  sequence="10"/>

        <!-- Sub Menu: Materials -->
        <menuitem id="menu_inventory_material" 
                  name="Materials Dashboard" 
                  parent="menu_inventory_monitoring_root" 
                  action="action_inventory_material" 
                  sequence="10"/>

        <!-- Sub Menu: Vendor Orders -->
        <menuitem id="menu_vendor_order"
                  name="Vendor Orders"
                  parent="menu_inventory_monitoring_root"
                  action="action_vendor_order"
                  sequence="20"
                  groups="inventory_monitoring.group_inventory_kitchen_team,inventory_monitoring.group_inventory_manager,inventory_monitoring.group_inventory_supervisor"/>

        <!-- Sub Menu: Recipes -->
        <menuitem id="menu_inventory_recipe"
                name="Recipes"
                parent="menu_inventory_monitoring_root"
                action="action_inventory_recipe"
                sequence="15"
                groups="inventory_monitoring.group_inventory_head_chef"/>

        <!-- Sub Menu: Notifications -->
        <menuitem id="menu_inventory_notification"
            name="Notifications"
            parent="menu_inventory_monitoring_root"
            action="action_inventory_notification"
            sequence="30"
            groups="inventory_monitoring.group_inventory_supervisor"/>

        <!-- Sub Menu: Reports -->
        <menuitem id="menu_inventory_report"
            name="Reports"
            parent="menu_inventory_monitoring_root"
            action="action_inventory_report"
            sequence="40"
            groups="inventory_monitoring.group_inventory_manager"/>
    </data>
</odoo>
